---
import { t } from "@/utils/translations";
import { getFooter } from "@/utils/cv";
import AstroIcon from "@/icons/AstroIcon.astro";

const currentLang = Astro.url.pathname.startsWith("/pt-br") ? "pt-br" : "en";
const footer = getFooter(currentLang);
---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
  <a
    href={footer?.url}
    rel="noreferrer"
    target="_blank"
    class="group flex items-center space-x-1 text-xs"
  >
    <span
      class="text-skin-muted flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
      >{t(currentLang, "madeBy")} Henrique Melo
      <AstroIcon className="w-4 text-skin-hue group-hover:animate-pulse" />
    </span>
  </a>
</div>
