---
const { className, title } = Astro.props;
const hasTitleSlot = Astro.slots.has("title");
---

<section class:list={["flex flex-col gap-4 print:gap-0", className]}>
  {
    hasTitleSlot ? (
      <h3 class="relative flex w-full items-center gap-3 pb-4 text-3xl print:gap-1 print:pb-0 print:text-lg">
        <slot name="title" />
      </h3>
    ) : (
      title && (
        <h3 class="relative flex w-full items-center gap-3 pb-4 text-3xl print:gap-1 print:pb-0 print:text-lg">
          {title}
        </h3>
      )
    )
  }
  <slot />
</section>
